#mytable{
	
	margin-left:40%;
	padding:100%;
	margin-top:5%;
	
}

body{

	font-family: Open Sans;
}

#subOrdina{
		
	margin-left:5%;
	width:10%;
	margin-top:0%;
	
}
#collapsibleNavbar{
	margin-right:3%;
}


nav.navbar {
	background-color: black;
	opacity: 0.9;
	padding: 6px;
}

body{
	padding-top: 5%;
	background: linear-gradient(to bottom, rgb(255, 245, 230), rgb(255, 163, 26));
}


nav.navbar a.navbar-brand {
	margin-left: 40px;
	font-size: 30px;
}

nav a.navbar-brand img{
	border-radius: 15px;
	background-position: left top;
    background-repeat: repeat;
	border: 2px solid black;
}

div#collapsibleNavbar ul{
	text-align: center;
}

button.cart {
	margin-left: 6px;
}

button.cart i{
	margin-top: 3px;
	font-size: 20px;
	color: black;
}

.header-title1{
	font-size: 3vw;
}
	
.header-title2{
	font-size: 2vw;
}

header.masthead{
	background-color: orange;
	text-align: center;
	padding: 240px;
	position: relative;
	overflow: hidden;
	padding-top: calc(7rem + 72px);
	padding-bottom: 7rem;
	background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
}

footer {
	background-color: black;
	color: white;
	width: 100%;
}


#submitButton{
	margin:2%;
}


.login-block{
	padding: 2%;
}

.btn-login{
	background: rgb(255, 173, 51);
	color:#fff;
	font-weight:600;
}

.login-block>.container{
	background:#fff;
	border-radius: 10px;
	width: 100%; 
	height: 100%;
}

.banner-text h2{
	color:#000;
	font-weight:600;
}

.banner-text{
	color:#000;
}

.carousel-indicators li{
  background-color: #eee;
}

.carousel-item{
	max-height: 500px;
}

.social{


	margin:auto;
	padding-left:10%;
	padding-top:15%;
}

#fbButton{
	width: 80%;
	
}

#googleButton{
	padding-top: 5%;
	margin: -2%;
	width: 84%;
}

.registerA{
	padding:5%;
	text-decoration: underline;
}


.login-sec h2{
	margin:30px;
	font-weight:800;
	font-size:30px;
	color: rgb(255, 173, 51);
}
.login-sec h2:after{
	content:" ";
	height:5px;
	background:#FEB58A;
	display:block;
	margin-top:20px; 
	border-radius:3px;
}

.login-block{
width:100%;
}

.carousel-indicators .active{
  background-color: black;
}



.order{
  background-color: #008CBA; 
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*-------------------------*/




/* --------------------cart--------------------*/


/*-----------------------------------
	Breadcrumb 
-----------------------------------*/

.breadcrumb > .active a{
	color: #468595;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb li a{
	color :#b3d4dc;
	font-weight: bold;
	text-transform: uppercase;
}

.breadcrumb>li+li:before {
	content: "\00BB";
}

.breadcrumb{
	margin-bottom: 100px;
	background-color: #ffffff;
}

.breadcrumbBox{
	background-color: #ffffff;
	height: 100px;
	margin-bottom: 100px;
	padding-top: 32px;
}

/*----------------------------------- 
	Main
-----------------------------------*/

.container.text-center{
	padding: 0 32px;
}


/*-----------------------------------  
	Logo and description 
----------------------------------- */


.col-md-5.col-sm-12{
	padding: 0;
}

.col-md-5.col-sm-12 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	margin-bottom:30px;
	text-align: left;
}

.col-md-5.col-sm-12 p{
	color: #898e92;
	line-height: 1.5;
	max-width: 400px;
	text-align: justify;
}

.bigcart{
	background:url(../img/sprite.png);
}


/*-----------------------------------  
	Cart items list
-----------------------------------*/

.col-md-7.col-sm-12{
	padding-left: 50px ;
	margin-bottom: 72px;
}

.row{
	box-shadow: 0 1px 0 #e1e5e8;
	padding-bottom :0;
	padding-left: 15px;
	background-color: #ffffff;
	margin-bottom: 11px;
}

.row span{
	padding: 20px 0 6px 0;
}

/* Column Captions */

.columnCaptions{
	color: #7e93a7;
	font-size:12px;
	text-transform: uppercase;
	padding: 0;
	box-shadow: 0 0 0;
	background-color: #f2f6f9;
}

.columnCaptions span:first-child{
	padding-left:8px;
}

.columnCaptions span{
	padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
	float: right;
	padding-right: 72px;
}


/* Items */

.itemName{	
	color: #727578;
	font-size :16px;
	font-weight: bold;
	float: left;
	padding-left:25px;
}


.quantity{	
	color: #4ea6bc;
	font-size :18px;
	font-weight: bold;
	float : left;
	width: 42px;
	padding-left: 7px;
}


.popbtn{
	background-color: #e6edf3;
	margin-left: 25px;
	height: 63px;
	width: 40px;
	padding: 32px 0 0 14px !important;
	float: right;
	cursor: pointer;
}

.arrow{
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #858e97;
}

.price{
	color: #f06953;
	font-size :18px;
	font-weight: bold;
	float: right;
}


/* Totals */

.totals{
	background-color: #f2f6f9;
}

.totals span{
	padding: 40px 15px 40px 0;
}

.totals .price{
	float: left;
}

.totals .itemName{
	margin-top: 1px;
}

.totals .order{
	float: right;
	padding: 0;
	margin-top: 40px; 
	padding-left: 5px;
	cursor: pointer;
}

.order a{
	background-color: #f08573;
	color: #fbfffa;
	font-weight: bold;
	border-radius: 2px;
	padding: 20px 30px;
}



/* Popovers */

.popover{
	border-radius: 3px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
	border: 0;
	background-color: #ffffff;
}

.popover.bottom{
	margin-top: -9px;
}

.glyphicon{
	width: 24px;
	font-size: 24px;
	padding: 0;
}

.glyphicon-pencil{
	color: #858e97;
	margin: 7px 12px 7px 10px;
}

.glyphicon-remove{
	color: #f06953;
	margin-right: 10px;
}



/*-------------------------*/
@media only screen and (max-width: 768px) {
	
	#tbl{
		width: 100% !important;
	}
	
	section.login-block{
	padding-top: 10%;
	
	}
	
	
	#mytable{
	
	margin-left:5%;
	padding:100%;

	}
	/*--------------------*/

.breadcrumbBox{
		height:80px;
		padding-top:21px;
	}

	.col-md-5.col-sm-12 p{
		max-width: 300px;
	}

	.col-md-7.col-sm-12{
		padding-left: 0;
		padding-right: 15px;
		margin-bottom: 32px;
	}

	.col-md-7.col-sm-12 ul{
		padding-left: 15px ;
	}

	.columnCaptions span{
		padding: 0 21px 0 0;
	}

	.columnCaptions span:last-child{
		float: right;
		padding-right: 42px;
	}

	.row{
		padding-bottom:10px;
	}

	.quantity{	
		width: 23px;
		padding-right: 40px !important;
	}

	.popbtn{
		background-color: white;
		position: absolute;
		height:40px;
		right: 0;
	}

	.price{	
		position: absolute;
		right: 42px;
	}

	.totals{
		padding: 0;
	}

	.totals .price{
		position: static;
	}

	
	/* Change Bootstrap's default popover to make it look nice on a mobile device */

	.popover.bottom>.arrow{
		left: auto;
		margin-left: 0;
		right: 5px;
	}

	.popover.bottom{
		margin-top: 7px;
		margin-left: -40px;
	}

	/*-------------------*/
	
	#googleButton{
	padding-bottom: 5%;
	margin: -2%;
	width: 84%;
	}
	
	body{
	padding-top: 15%;
	}
	
	.carousel-item{
	max-height: 350px;
	}
	
	a.decorated-linkText-nav {
		font-size: 2vh;
	}

	nav.navbar {
		background-color: black;
		opacity: 0.8;
		padding: 6px;
	}
	
	.header-title1{
		font-size: 5vw;
	}
	
	.header-title2{
		font-size: 4vw;
	}
	
	button.cart {
		background-color: black;
		border: hidden;
	}
	
	button.cart:hover {
		background-color: black;
		border-color: black;
	}
	
	button.cart:active {
		background-color: black;
		border: hidden;
	}
	
	button.cart i{
		color: white;
	}
	
	footer {
		font-size: 1.3vh; 
	}
	
	nav a.navbar-brand img{
		width: 26vw;
		height: 6vh;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		background-position: left top;
		border: 1.5px solid black;
		background-repeat: repeat;
	}
	
	header.masthead{
		background-color: orange;
		text-align: center;
		padding: 70px;
		position: relative;
		overflow: hidden;
		 padding-top: calc(5rem + 55px);
		padding-bottom: 5rem;
		background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
	}
	
}

