.topnav {
	overflow: hidden;
	background-color: black;
	padding: 6%;
}

body{

	font-family: Open Sans;
}

.topnav .search-container {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
#collapsibleNavbar{
	margin-right:3%;
}

.topnav input[type=text] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	margin-top: 8px;
	width: 80%;
	font-size: 17px;
	border: 2px solid white;
	border-radius: 15px;
}

.topnav .search-container button i{
	padding: 6px;
	font-size: 24px;
	color: orange;
}

.topnav .search-container button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	margin-top: 14px;
	background: black;
	width: 80%;
	font-size: 17px;
	border: 2px solid orange;
	border-radius: 15px;
	cursor: pointer;
}


.topnav .search-container button:hover {
	background: white;
}

.topnav .search-container label{
	font-size: 30px;
	margin-left: 10%;
	color: white;
}

nav.navbar {
	background-color: black;
	opacity: 0.9;
	padding: 6px;
}

nav.navbar a.navbar-brand {
	margin-left: 40px;
	font-size: 30px;
}

nav a.navbar-brand img{
	border-radius: 15px;
	background-position: left top;
    background-repeat: repeat;
	border: 2px solid black;
	
}



body{
	background: rgb(255, 163, 26);
}

.carousel-inner img {
      width: 100%;
      height: 100%;
}

div.providerRedirect h2,p {
	color: white;
}

div.providerRedirect p {
	font-size: 20px;
}

a.imgProviders img {
	width: 300px;
	height: 300px;
}

div#collapsibleNavbar ul{
	text-align: center;
}

button.cart {
	margin-left: 6px;
}

button.cart i{
	margin-top: 3px;
	font-size: 20px;
	color: black;
}

a.navLink {
	margin-top: 7px; 
}


 footer {
	background-color: black;
	color: white;
}






@media only screen and (max-width: 768px) {
	
	a.decorated-linkText-nav {
		font-size: 2vh;
	}
	
	a.imgProviders img {
		width: 180px;
		height: 180px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}	
	
	div.providerRedirect h2,p {
		text-align: center;
	}
	
	div.providerRedirect p {
		font-size: 14px;
	}
	
	nav.navbar {
		background-color: black;
		opacity: 1.5;
		padding: 6px;
	}
	
	div.carousel-caption {
		display: none;
	}
	
	div#demo {
		margin-top: 10%;
	}
	
	
	button.cart {
		background-color: black;
		border: hidden;
	}
	
	button.cart:hover {
		background-color: black;
		border-color: black;
	}
	
	button.cart:active {
		background-color: black;
		border: hidden;
	}
	
	button.cart i{
		color: white;
	}
	
	footer {
		font-size: 1.3vh; 
	}
	
	nav a.navbar-brand img{
		width: 26vw;
		height: 6vh;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		background-position: left top;
		border: 1.5px solid black;
		background-repeat: repeat;
	}
	
	
	
	
	
	.topnav .search-container {		
		display: inline-block;
		width: 100%;
		padding: 10px;
	}
	
	.topnav .search-container label{
		text-align: center;
		font-size: 16px;
		color: white;
	}

	.topnav input[type=text] {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 6px;
		margin-top: 8px;
		width: 80%;
		font-size: 10px;
		border: 2px solid white;
		border-radius: 15px;
	}

	.topnav .search-container button i{
		padding: 2px;
		font-size: 18px;
		color: orange;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.topnav .search-container button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 2px;
		width: 80%;
		font-size: 4px;
		border: 2px solid orange;
		border-radius: 15px;
		cursor: pointer;
	}


		
	
}

