nav.navbar {
	background-color: black;
	opacity: 0.9;
	padding: 6px;
}

body{
	padding-top: 5%;
	background: linear-gradient(to bottom, rgb(255, 245, 230), rgb(255, 163, 26));
}
body{

	font-family: Open Sans;
}

nav.navbar a.navbar-brand {
	margin-left: 40px;
	font-size: 30px;
}
#classifica{
	text-align:center;
	color: #ee7600;
	
}


#ricavi{
	text-align:center;
	color: #ee7600;
	float:center;
	
}
	#tabl3{
	margin:auto;
	width:100% !important ;

}
#title{
	text-align:center;
	color:#000;
	margin:30px;
	font-weight:800;
	font-size:30px;
	font-weight:600;
}
.div-square:hover{
	background-color:orange;
}
tr:hover td {
    background-color: rgb(255, 173, 51); /* or #000 */
}

.material-icons{
	
}
#type{
	text-align:right;
	float:right;
}

#name{
	text-align:left;
	float:left;
	
}
.div-square> a,.div-square> a:hover {
    color:#000000;
     text-decoration:none;
	
}

.div-square {
	
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
   -moz-border-radius:8px;
    border-radius:8px;
	border-color:black;
    padding-right:10%;
padding-left:10%;
margin:10%
}

nav a.navbar-brand img{
	border-radius: 15px;
	background-position: left top;
    background-repeat: repeat;
	border: 2px solid black;
}

div#collapsibleNavbar ul{
	text-align: center;
}

button.cart {
	margin-left: 6px;
}

button.cart i{
	margin-top: 3px;
	font-size: 20px;
	color: black;
}

.header-title1{
	font-size: 3vw;
}
	
.header-title2{
	font-size: 2vw;
}

header.masthead{
	background-color: orange;
	text-align: center;
	padding: 240px;
	position: relative;
	overflow: hidden;
	padding-top: calc(7rem + 72px);
	padding-bottom: 7rem;
	background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
}

footer {
	background-color: black;
	color: white;
	width: 100%;
}


#submitButton{
	margin:2%;
}


.login-block{
	padding: 2%;
}

.btn-login{
	background: rgb(255, 173, 51);
	color:#fff;
	font-weight:600;
}

.login-block>.container{
	background:#fff;
	border-radius: 10px;
	width: 100%; 
	height: 100%;
}

.banner-text h2{
	color:#000;
	font-weight:600;
}

.banner-text{
	color:#000;
}

.carousel-indicators li{
  background-color: #eee;
}

.carousel-item{
	max-height: 500px;
}

.social{


	margin:auto;
	padding-left:10%;
	padding-top:15%;
}

#fbButton{
	width: 80%;
	
}
h4{
	text-align:center;
}

body{

	font-family: Open Sans;
}

#tabl{
	margin:auto;
	width:58%;
	
	
}
#tabl3{
	margin:auto;
	width:36% !important;
	
	
}
#googleButton{
	padding-top: 5%;
	margin: -2%;
	width: 84%;
}

.registerA{
	padding:5%;
	text-decoration: underline;
}


.login-sec h2{
	margin:30px;
	font-weight:800;
	font-size:30px;
	color: rgb(255, 173, 51);
}
.login-sec h2:after{
	content:" ";
	height:5px;
	background:#FEB58A;
	display:block;
	margin-top:20px; 
	border-radius:3px;
}

.login-block{
width:100%;
}

.carousel-indicators .active{
  background-color: black;
}

@media only screen and (max-width: 1100px) and (min-width: 770px) {
	.div-square{
		border:none;
		width:120px;
	}


}

@media only screen and (max-width: 1100px) and (min-width: 0px) {
	.div-square{
		border:none;
		width:120px;
	}
	#tabl3{
	margin:auto;
	width:100% !important;
	
	
}

}
@media only screen and (max-width: 1400px) {
	.div-square{
		border:none;
		width:120px;
	}
	section.login-block{
	padding-top: 10%;
	
}
	
	#googleButton{
	padding-bottom: 5%;
	margin: -2%;
	width: 84%;
	}
	
	.login-block{
		
	}
	
	body{
	padding-top: 15%;
	}
	footer{
		width:100%;
		
	}
	
	
	.carousel-item{
	max-height: 350px;
	}
	
	a.decorated-linkText-nav {
		font-size: 2vh;
	}

	nav.navbar {
		background-color: black;
		opacity: 0.8;
		padding: 6px;
	}
	
	.header-title1{
		font-size: 5vw;
	}
	
	.header-title2{
		font-size: 4vw;
	}
	
	button.cart {
		background-color: black;
		border: hidden;
	}
	
	button.cart:hover {
		background-color: black;
		border-color: black;
	}
	
	button.cart:active {
		background-color: black;
		border: hidden;
	}
	
	button.cart i{
		color: white;
	}
	
	footer {
		font-size: 1.3vh; 
	}
	
	nav a.navbar-brand img{
		width: 26vw;
		height: 6vh;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		background-position: left top;
		border: 1.5px solid black;
		background-repeat: repeat;
	}

	header.masthead{
		background-color: orange;
		text-align: center;
		padding: 70px;
		position: relative;
		overflow: hidden;
		 padding-top: calc(5rem + 55px);
		padding-bottom: 5rem;
		background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
	}
	
}

