nav.navbar {
	background-color: black;
	opacity: 0.9;
	padding: 6px;
}

nav.navbar a.navbar-brand {
	margin-left: 40px;
	font-size: 30px;
}

nav a.navbar-brand img{
	border-radius: 15px;
	background-position: left top;
    background-repeat: repeat;
	border: 2px solid black;
	
}

div#collapsibleNavbar ul{
	text-align: center;
}
body{

	font-family: Open Sans;
}
button.cart {
	margin-left: 6px;
}

button.cart i{
	margin-top: 3px;
	font-size: 20px;
	color: black;
}

.header-title1{
	font-size: 3vw;
}
	
.header-title2{
	font-size: 2vw;
}

header.masthead {
	 height:10%;
	background-color: orange;
	text-align: center;
	padding: 240px;
	position: relative;
	overflow: hidden;
	padding-top: calc(7rem + 72px);
	padding-bottom: 7rem;
	background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
}

p {
	
	font-size:20px;
}


header.masthead div.mycontainer{
	width:100%; 
    height:300px;
	float: none;
	padding: 4px;
	overflow:auto;
	border:1px solid #EEE;
	
	
}





 footer {
	background-color: black;
	color: white;
	
}






@media only screen and (max-width: 768px) {
	
		
	a.decorated-linkText-nav {
		font-size: 2vh;
	}

	nav.navbar {
		background-color: black;
		opacity: 0.8;
		padding: 6px;
	}
	
	.header-title1{
		font-size: 5vw;
	}
	
	.header-title2{
		font-size: 4vw;
	}
	
	button.cart {
		background-color: black;
		border: hidden;
	}
	
	button.cart:hover {
		background-color: black;
		border-color: black;
	}
	
	button.cart:active {
		background-color: black;
		border: hidden;
	}
	
	button.cart i{
		color: white;
	}
	
	footer {
		font-size: 1.3vh; 
	}
	
	nav a.navbar-brand img{
		width: 26vw;
		height: 6vh;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 15px;
		background-position: left top;
		border: 1.5px solid black;
		background-repeat: repeat;
	}
	
	header.masthead{
		background-color: orange;
		text-align: center;
		padding: 70px;
		position: relative;
		overflow: hidden;
		 padding-top: calc(5rem + 55px);
		padding-bottom: 5rem;
		background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;
	}
	
}

